.input_component {
  height: 45px;
  width: 100%;
  background: #f6f7f9;
  border: none;
  border-radius: 23px;
  padding-left: 30px;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 21px;

  &:focus {
    outline: none;
  }

  &.error {
    border: 1px solid #fd969780;
  }

  &--error-label {
    color: #fd9697;
    font-family: 'Roboto';
    font-size: 11px;
    line-height: 21px;
  }
}
