.button_component {
  height: 45px;
  width: 314px;
  background: none;
  border: none;
  border-radius: 60px;
  color: #ffffff;
  font-size: 17px;
  line-height: 21px;

  &.sweet_pink {
    background-color: #fd9697;
  }

  &.fauxplum_purple {
    background-color: #5a48a3;
  }
}
