.button_component {
    height: 45px;
    width: 314px;
    background: none;
    border: none;
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 21px;

    &.sweet_pink {
        background-color: #FD9697;
    }

    &.fauxplum_purple {
        background-color: #5A48A3;
    }
}