@import '../../assets/stylesheets/variables';

/*--Custom Grid--*/
.container {
  padding-right: $grid-gutter-width;
  padding-left: $grid-gutter-width;
  > .row {
    &,
    > .col,
    > [class*='col-'] {
      padding-right: $grid-gutter-width/2;
      padding-left: $grid-gutter-width/2;
      @media screen and (max-width: map-get($grid-breakpoints, 'xl')) {
        padding-right: $grid-gutter-width/2.666;
        padding-left: $grid-gutter-width/2.666;
      }
    }
  }
  &-fluid {
    &,
    > .row:not(.no-gutters) > [class*='col-'] {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
  }
  @media (min-width: 1366px) {
    max-width: 1266px;
  }
}
