@import '../../assets/stylesheets/variables';
@import '../../assets/stylesheets/fonts';

.onboarding_template {
  text-align: center;
  padding: 0;

  &_container {
    padding: 0;

    &--logo {
      svg {
        width: 45%;
      }
    }

    &--description {
      display: flex;
      align-items: center;
      margin: $spacing-s 10px;
      min-height: 60px;
      p {
        @extend .ff-Roboto-Bold;
        color: white;
        font-size: 17px;
      }
    }

    &--dots_step {
      margin-bottom: $spacing-s;
    }

    &--continue {
      margin: 0 10px;
      margin-bottom: $spacing-s;
    }

    &--login {
      margin: 0 10px;
      p {
        @extend .ff-Roboto;
        color: white;
        font-size: 14px;
        span {
          color: #efa0ab;
          text-decoration: underline;
        }
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
      &--description {
        min-height: 0;
        p {
          font-size: 15px;
        }
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      display: flex;
      align-items: center;
      height: 100%;

      &--logo {
        svg {
          width: 62%;
          margin-bottom: $spacing-s;
        }
      }

      &--description {
        p {
          font-size: 15px;
          font-weight: 500;
        }
      }

      &--dots_step {
        margin-bottom: $spacing-l;
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      &--logo {
        svg {
          margin-bottom: $spacing-m;
        }
      }

      &--description {
        p {
          font-size: 20px;
        }
      }

      &--dots_step {
        margin-bottom: $spacing-xl;
      }
    }
  }

  &--content {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: $spacing-xs 0;
  }
}
