// .checkbox_component {
//     display: block;
//     position: relative;
//     padding-left: 35px;

//     &:hover {
//         cursor: pointer;
//     }

//     &--input[type='checkbox'] {
//         position: absolute;
//         display: none;

//         &:checked + div {
//           label {
//             background: #fd9697;
//             background-size: 8px;
//             border: none;
//             border-radius: 50%;
//             display: inline-block;
//             width: 8px;
//             height: 8px;
//           }
//         }
//     }

//     &--checkmark {
//         font-family: Roboto;
//         font-weight: 500;
//         position: absolute;
//         top: 0;
//         left: 0;
//         height: 25px;
//         width: 25px;
//         background-color: #eee;
//     }
// }
.checkbox_component {
  user-select: none;
  &--input {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      color: #9da1ae;
      font-family: Roboto;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      padding-left: 1.95em;
      display: inline-block;
      text-align: left;
    }

    // Box.
    & + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;

      margin-right: 10px;
      width: 20px;
      height: 20px;
      background-color: #f6f7f9;
      border: solid 2px #f6f7f9;
      border-radius: 4px;
    }

    // Box hover
    &:checked + label:before,
    &:hover + label:before {
      border-color: #fd9697;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
      background-color: #fd9697;
    }

    // Disabled state label.
    &:disabled + label {
      color: #fd9697;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background-color: white;
      border: solid 2px white;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background-color: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
        4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}
