@import '../../assets/stylesheets/variables';

.recoverpassword_container {
  text-align: center;
  
  svg {
    width: 224px;
    height: 230px;
    margin-bottom: $spacing-m;
  }

  & > div.container {
    display: flex;
    justify-content: center;
  }

  &--title {
    color: #5a48a3;
    font-size: $fs-forget-title;
    line-height: $lh-forget-title;
    margin-bottom: $spacing-l;
  }

  &--description {
    color: #5a5a5a;
    font-family: $ff-Roboto;
    font-size: $fs-forget-description;
    line-height: $lh-forget-description;
    margin-bottom: $spacing-xl;
  }

  a {
    text-decoration: underline;
  }

  a:visited {
    color: #9DA1AE;
    font-size: 16px;
    line-height: 21px;
  }
}