@import '../../assets/stylesheets/variables';

.recoverpassword_container {
  text-align: center;
  
  svg {
      width: 224px;
      height: 230px;
      margin-bottom: $spacing-m;
  }
  
  &--title {
    color: #5a48a3;
    // font-family: $ff-Roboto-Bold;
    font-size: $fs-forget-title;
    line-height: $lh-forget-title;
    margin-bottom: $spacing-l;
  }

  &--description {
    color: #5a5a5a;
    font-family: $ff-Roboto;
    font-size: $fs-forget-description;
    line-height: $lh-forget-description;
    margin-bottom: $spacing-xl;
  }
}