.googlelogin_component {
  width: 48px;
  height: 47px;
  background: none;
  border: none;
  border-radius: 60px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  i.google {
    width: 48px;
    height: 48px;
    display: inline-block;
    background: url('../../assets/icons/google2.svg') no-repeat top left;
  }
}
