@import '../../assets/stylesheets/variables';

.forgetpassword_container {
  text-align: center;
  position: relative;

  &--title {
    color: #5a48a3;
    // text-align: center;
    // font-family: $ff-Roboto-Bold;
    font-size: $fs-forget-title;
    line-height: $lh-forget-title;
    margin-bottom: $spacing-l;
  }

  &--description {
    color: #5a5a5a;
    // text-align: center;
    font-family: $ff-Roboto;
    font-size: $fs-forget-description;
    line-height: $lh-forget-description;
    margin-bottom: $spacing-xl;
  }

  .radiobutton_component.recover_options {
    margin-bottom: $spacing-l;
  }

  .input_component {
    margin-bottom: $spacing-xl;
  }

  .button_component {
    margin-bottom: $spacing-m;
  }

  .leafs_parent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;

    &--relative {
      position: relative;

      &-leaf1 {
        position: absolute;
        width: 160px;
        left: -32px;
        bottom: -241px;
      }

      &-leaf2 {
        position: absolute;
        width: 100px;
        right: 15px;
        bottom: -235px;
        transform: rotate(-45deg);
      }

      &-leaf3 {
        position: absolute;
        width: 155px;
        right: -95px;
        bottom: -250px;
        transform: rotate(20deg);
      }
    }
  }
}
