/*--Spacing system--*/
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

/*--Font Family--*/
$ff-Roboto: 'Roboto';
$ff-Roboto-Bold: 'Roboto Bold';
$ff-Roboto-Black: 'Roboto Black';

/*--Font Size--*/
$fs-button: 17px;

/*--Line Height--*/
$lh-button: 21px;
